[amqp]
user = bunny
pass = gvC1Ik5i3w
host = rabbit
port = 5672
ssl = False

[postgresql]
user = aiq_user
pass = gvC1Ik5i3w
host = pgdb
port = 5432
database = aiq_data

[sota]
username = username
secret = secret

[sail-on]
trials = 1
novelty = 200,301,302,303,304,305,306
difficulty = easy
novelty_visibility = 0
hint_level = -1
normal_timeout_seconds = 600
training_timeout_multiplier = 10
testing_novelty_p2 = 1.0

[vizdoom]
training_episodes = 50
testing_episodes = 10
pre_novel_episodes = 0
live = True
use_image = False

[options]
debug = False
fulldebug = False
printout = True
testing = False
demo = False
shortdemo = False
